.text-xs.p-2.font-bold.w-max.truncate.flex.rounded-sm.shrink-0 title=@name class="bg-#{@bg_color} text-#{@text_color}"
  - if @type
    i.fa-duotone.fa-fw.text-red-500 class="fa-#{@type}"
  div.uppercase.tracking-widest.pl-2 = @name
