- content_for(:title) { t(".title") }

= render TableComponent::TableComponent.new(model: Producer, columns: [:name, :domaine_name, :address, :region, :latitude, :longitude, :website, :edit_link, :destroy_link], collection: @producers)
