.flex.flex-col.items-center.justify-center data={ controller: "label", "label-url-value": producer_label_path(producer_label), "label-target": "item" }
  = regular_image(producer_label.label.photo, 80)
  .btn.btn-secondary.mt-2 data={ action: "click->label#delete" } = t("destroy")
